.container.blocks.spacious.full-width
    .row
        .col.s12.l6
            a.block.rectangle.modal-trigger(href='#wooden-collection', style='background-image: url(./assets/images/work/teapot-white-bg.png)')
                .content
                    .title.tlt Teapot
        .col.s12.l6
            a.block.rectangle.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/white-ice-cream-white-bg.png)')
                .content
                    .title.tlt Ice cream
    .row
        .col.s12.l8
            .row
                .col.s12.l6
                    a.block.rectangle.modal-trigger(href='#bottles', style='background-image: url(./assets/images/work/vase-white-bg.png)')
                        .content
                            .title.tlt Abstract vase

                .col.s12.l6
                    a.block.rectangle.modal-trigger(href='#wooden-collection', style='background-image: url(./assets/images/work/tree-3-white-bg.png)')
                        .content
                            .title.tlt Wooden tree III

                .col.s12
                    a.block.rectangle-horizontal.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/white-bottle-white-bg.png)')
                        .content
                            .title.tlt White bottle
        .col.s12.l4
            a.block.rectangle-vertical.modal-trigger(href='#bottles', style='background-image: url(./assets/images/work/flag-white-bg.png)')
                .content
                    .title.tlt White flag

include _modals-cases.pug