.container.blocks.spacious.full-width.no-margin
    .row
        .col.s12.m6.l4
            a.block.square.modal-trigger(href='#wooden-collection', style='background-image: url(./assets/images/gifs/amazing.gif)')
                .content
                    .title.tlt Amazing
        .col.s12.m6.l4
            a.block.square.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/tree-4-red-bg.png)')
                .content
                    .title.tlt Plastic tree
        .col.s12.m6.l4
            a.block.square.modal-trigger.bg-position-bottom(href='#bottles', style='background-image: url(./assets/images/lady/lady-back-view-pink.jpg)')
                .content
                    .title.tlt Blue jeans
        .col.s12.m6.l4
            a.block.square.modal-trigger(href='#wooden-collection', style='background-image: url(./assets/images/work/colorful-ice-cream-gradient-bg.png)')
                .content
                    .title.tlt Colorful ice cream
        .col.s12.m6.l4
            a.block.square.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/socket-eee-bg.png)')
                .content
                    .title.tlt Socket
        .col.s12.m6.l4
            a.block.square.modal-trigger(href='#bottles', style='background-image: url(./assets/images/gifs/responsive-transition.gif)')
                .content
                    .title.tlt Transition

include _modals-cases.pug