.container.blocks.spacious.full-width
    .row
        .col.s12.l4
            a.block.rectangle-vertical.modal-trigger(href='#wooden-collection', style='background-image: url(./assets/images/work/tree-2-eee-bg.png)')
                .content
                    .title.tlt Wooden collection

        .col.s12.l8
            .row
                .col.s12.l6
                    a.block.rectangle.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/phone-eee-bg.png)')
                        .content
                            .title.tlt Telephone

                .col.s12.l6
                    a.block.rectangle.modal-trigger(href='#bottles', style='background-image: url(./assets/images/work/white-bottle-2-eee-bg.png)')
                        .content
                            .title.tlt Decorative bottle

                .col.s12
                    a.block.rectangle-horizontal.parallax-container.modal-trigger(href='#wooden-collection')
                        .parallax
                            img.full-width(src='./assets/images/work/teapot-eee-bg.png', alt='Teapot')
                        .content
                            .title.tlt Teapot
    .row
        .col.s12.l6
            a.block.rectangle.modal-trigger(href='#the-gadgets', style='background-image: url(./assets/images/work/blue-radio-eee-bg.png)')
                .content
                    .title.tlt Blue radio
        .col.s12.l6
            a.block.rectangle.modal-trigger(href='#bottles', style='background-image: url(./assets/images/work/clock-eee-bg.png)')
                .content
                    .title.tlt Lime clock

include _modals-cases.pug