// Pink sunglasses
#pink-sunglasses.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-content
        .container
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    h1 Pink sunglasses &amp; more
                    span.author
                        img(src='./assets/images/team/jane.jpg', alt='Jane')
                        | by Jane on
                    time(datetime='2016-12-25T21:00') 25/12/2016
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-pink-sunglasses.jpg', alt='Pink sunglasses')
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    p.
                        You’ll open one likeness — created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-lolly.jpg', alt='Lady lolly')

            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    p.
                        &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-white-dress.jpg', alt='White dress')

            .row.flow-text.modal-nav-container
                .col.s12.l6.offset-l6
                    a.right.modal-nav(href='#table-design', data-next-modal='table-design') Next story &rarr;

// Table design
#table-design.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-content
        .container
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    h1 Table design
                    span.author
                        img(src='./assets/images/team/pete.jpg', alt='Pete')
                        | by Pete on
                    time(datetime='2016-12-20T21:00') 20/12/2016
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-on-table.jpg', alt='Lady on table')
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    p.
                        You’ll open one likeness — created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
                    p.
                        &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-stockings.jpg', alt='Stockings')
                    img.responsive-img(src='./assets/images/lady/lady-swimming.jpg', alt='Swimming')

            .row.flow-text.modal-nav-container
                .col.s12.l6.margin-on-medium-and-down
                    a.modal-nav(href='#pink-sunglasses', data-previous-modal='pink-sunglasses') &larr; Previous story
                .col.s12.l6
                    a.right.modal-nav(href='#no-men-no-cry', data-next-modal='no-men-no-cry') Next story &rarr;

// Table design
#no-men-no-cry.modal.bottom-sheet
    .modal-close.absolute &times;
    .modal-content
        .container
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    h1 No men no cry
                    span.author
                        img(src='./assets/images/team/olga.jpg', alt='Olga')
                        | by Olga on
                    time(datetime='2016-12-15T21:00') 15/12/2016
            .row
                .col.s12.spacious-images
                    img.responsive-img(src='./assets/images/lady/lady-crying-portrait.jpg', alt='Crying lady')
            .row
                .col.s12.m10.offset-m1.l6.offset-l3.flow-text
                    p.
                        You’ll open one likeness — created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
                    p.
                        &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
            .row.spacious-images
                .col.s12.l6
                    img.responsive-img(src='./assets/images/lady/lady-grapefruit.jpg', alt='Grapefruit')
                .col.s12.l6
                    img.responsive-img(src='./assets/images/lady/lady-square-cigarette.jpg', alt='Cig')

            .row.flow-text.modal-nav-container
                .col.s12.l6.margin-on-medium-and-down
                    a.modal-nav(href='#table-design', data-previous-modal='table-design') &larr; Previous story
