.container.center
    .row
        .col.s12
            h2 Our expertise
            h3 What we can do for you
    .row.push-row
        .col.s12.l4.big-margin-on-medium-and-down
            //i.icon-basic-heart.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M1,21c0,20,31,38,31,38s31-18,31-38\
              c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z')

            .service-title Heartly solutions
            .service-description Fruit to light moving second air midst be waters.

        .col.s12.l4.big-margin-on-medium-and-down
            //i.icon-basic-accelerator.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M32.001,0.887c17.184,0,31.113,13.929,31.112,31.113\
              C63.114,49.185,49.184,63.115,32,63.113C14.815,63.114,0.887,49.185,0.888,32.001C0.885,14.816,14.815,0.887,32.001,0.887z')
                path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M10,32c0-5.63,2.148-11.26,6.444-15.556\
              c8.591-8.593,22.521-8.593,31.112,0C51.852,20.74,54,26.37,54,32')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', x1='24', y1='26', x2='30.333', y2='33.333')
                circle(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', cx='32', cy='35', r='2')

            .service-title Performance optimizations
            .service-description Deep third above herb, moving day yielding.

        .col.s12.l4
            //i.icon-basic-target.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M53.92,10.081c12.107,12.105,12.107,31.732,0,43.838\
              c-12.106,12.108-31.734,12.108-43.84,0c-12.107-12.105-12.107-31.732,0-43.838C22.186-2.027,41.813-2.027,53.92,10.081z')
                circle(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', cx='32', cy='32', r='22.999')
                circle(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', cx='32', cy='32', r='15')
                circle(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', cx='32', cy='32', r='6.999')

            .service-title Targeted clients
            .service-description Female subdue stars abundantly lesser creeping night, great morning.

    .row
        .col.s12.l4.big-margin-on-medium-and-down
            //i.icon-basic-bolt.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                polygon(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', points='40,1 17,37 31,37 \
              24,63 50,27 36,27 ')

            .service-title Extreme responsiveness
            .service-description Greater stars. Bearing she’d his divided.

        .col.s12.l4.big-margin-on-medium-and-down
            //i.icon-basic-joypad.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                path(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', d='M50,27H14C6.82,27,1,32.82,1,40s5.82,13,13,13\
              c4.6,0,8.632-2.396,10.943-6h14.113C41.368,50.604,45.4,53,50,53c7.18,0,13-5.82,13-13S57.18,27,50,27z')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', x1='14', y1='32', x2='14', y2='48')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', x1='22', y1='40', x2='6', y2='40')
                circle(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', cx='50', cy='39.99', r='7')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', x1='50', y1='33', x2='50', y2='47')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-linejoin='bevel', stroke-miterlimit='10', x1='57', y1='40', x2='43', y2='40')
                polyline(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', points='32,27 32,21 46,21 46,14 36,14 36,11 ')

            .service-title Lots of fun
            .service-description Third man evening our, they’re he itself.

        .col.s12.l4
            //i.icon-basic-signs.blue-purple-gradient
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='150px', height='150px', viewbox='0 0 64 64', enable-background='new 0 0 64 64', xml:space='preserve')
                polygon(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', points='55,24 22,24 22,12 55,12 62,18 ')
                polygon(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', points='9,28 42,28 42,40 9,40 2,34 ')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', x1='32', y1='40', x2='32', y2='64')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', x1='32', y1='28', x2='32', y2='24')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', x1='32', y1='12', x2='32', y2='7')
                line(fill='none', stroke='#000000', stroke-width='2', stroke-miterlimit='10', x1='24', y1='63', x2='40', y2='63')

            .service-title Geolocation
            .service-description Lights they’re in our dry beast isn’t.