extends _base.pug

block vars
    - colorScheme = 'black'
    - logoType = 'image'
    - cases = 'white-bgs'

block title
    title Nås

block hero
    .hero
        .video-container
            iframe(src='https://player.vimeo.com/video/105027353?color=c4d127&title=0&byline=0&portrait=0&t=0m5s&autoplay=true&background=1', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            h1.bold Creating impacts