.choose-demo {
    .logo {
        padding: 4rem 0;
    }

    .responsive-img {
        padding: 2rem;
    }

    .buy-now {
        padding: 7.5rem 0;
        margin: 2rem 0;
    }

    footer {
        padding: 4rem 0;
    }
}
