footer
    .container
        .row
            .col.s12.l4.margin-on-medium-and-down &copy; 1996—2016 Nås
            .col.s12.l4.margin-on-medium-and-down
                ul
                    li: a.underline(href='#!') Facebook
                    li: a.underline(href='#!') Twitter
                    li: a.underline(href='#!') VK
                    li: a.underline(href='#!') Github
            .col.s12.l4.margin-on-medium-and-down
                address
                    | B R James, 30 W 47th St
                    br
                    | New York, NY 10036
                    br
                a.underline(href='https://maps.google.com?daddr=B+R+James+30+W=47th+St+NY+10036', target='_blank') Get directions
                | &nbsp;(opens in new tab).

                p
                    a.underline(href='mailto:hello@nas.io') hello@nas.io
                    br
                    | +1-917-643-4346