// Libraries
script(src='./libs/jquery/jquery.min.js')
script(src='./libs/materialize/js/materialize.min.js')
script(src='./libs/textillate/jquery.textillate.js')
script(src='./libs/textillate/assets/jquery.lettering.js')
script(src='./libs/textillate/assets/jquery.fittext.js')

// Nas scripts
script(src='./assets/js/config.js')
script(src='./assets/js/nas.js')
